In [21]:
import requests
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
import time
import datetime as dt

print('Imports completed!')

Imports completed!

# TEAMS

In [22]:
url = "https://api-nba-v1.p.rapidapi.com/teams"
headers = {
	"x-rapidapi-key": "dda6cf782dmshebe3119a485b548p154863jsn7c9c31f1e7a7",
	"x-rapidapi-host": "api-nba-v1.p.rapidapi.com"
}

# Extract from url and header parameters
def extract_data(api_url, headers):
    response = requests.get(api_url, headers=headers)
    if response.status_code == 200:
        return response.json()
    else:
        raise Exception(f"API request failed with status code: {response.status_code}")

# Clean the data
def transform_data(raw_data):
    # ID's to not be included
    exclude_ids = {37, 34, 39, 102, 103, 42, 35, 36, 49}

    # Gather Data for Teams
    teams = [
        {
            'team_id': row['id'],
            'team_code': row['code'],
            'team_name': row['name']
        }
        for row in raw_data['response']
        if 'leagues' in row and 'standard' in row['leagues']
        and row['leagues']['standard']['division'] is not None
        and row['id'] not in exclude_ids
    ]
    
    teams_df = pd.DataFrame(teams)
    return teams_df

# Load data into a table
def load_data(df, table_name, connection_string):
    engine = create_engine(connection_string)
    df.to_sql(table_name, engine, if_exists='replace', index=False)
    print(f'Data has been loaded and added to the {table_name} database')

In [23]:
# Run data pipeline
def run_pipeline():
    raw_data = extract_data(url, headers)
    clean_data = transform_data(raw_data)
    connection_string = 'sqlite:///teams_data.db'
    load_data(clean_data, 'teams', connection_string)
    
run_pipeline()

Data has been loaded and added to the teams database

# GAME SCORES

In [24]:

import pandas as pd
from sqlalchemy import create_engine

def read_data(connection_string):
    engine = create_engine(connection_string)
    query = "SELECT * FROM teams"
    df = pd.read_sql(query, con=engine)
    return df

# Read the data back from the database
connection_string = 'sqlite:///teams_data.db'
teams_data = read_data(connection_string)

# Export DataFrame to Excel
teams_data.to_excel('./data/team_data.xlsx', index=False)

# Display the data
teams_data

    team_id team_code               team_name
0         1       ATL           Atlanta Hawks
1         2       BOS          Boston Celtics
2         4       BKN           Brooklyn Nets
3         5       CHA       Charlotte Hornets
4         6       CHI           Chicago Bulls
5         7       CLE     Cleveland Cavaliers
6         8       DAL        Dallas Mavericks
7         9       DEN          Denver Nuggets
8        10       DET         Detroit Pistons
9        11       GSW   Golden State Warriors
10       14       HOU         Houston Rockets
11       15       IND          Indiana Pacers
12       16       LAC             LA Clippers
13       17       LAL      Los Angeles Lakers
14       19       MEM       Memphis Grizzlies
15       20       MIA              Miami Heat
16       21       MIL         Milwaukee Bucks
17       22       MIN  Minnesota Timberwolves
18       23       NOP    New Orleans Pelicans
19       24       NYK         New York Knicks
20       25       OKC   Oklahoma City Thunder
21       26       ORL           Orlando Magic
22       27       PHI      Philadelphia 76ers
23       28       PHX            Phoenix Suns
24       29       POR  Portland Trail Blazers
25       30       SAC        Sacramento Kings
26       31       SAS       San Antonio Spurs
27       38       TOR         Toronto Raptors
28       40       UTA               Utah Jazz
29       41       WAS      Washington Wizards

In [ ]:
from itertools import combinations 
import time

url = "https://api-nba-v1.p.rapidapi.com/games"
headers = {
	"x-rapidapi-key": "dda6cf782dmshebe3119a485b548p154863jsn7c9c31f1e7a7",
	"x-rapidapi-host": "api-nba-v1.p.rapidapi.com"
}

team_ids = teams_data['team_id'].values

def game_matches(team_ids, url, headers):
    unique_matchups = list(combinations(team_ids, 2))

    response_arr = []
    for game in unique_matchups:
        querystring = {"h2h": f"{game[0]}-{game[1]}"}
        print(f"Gathering data for matchup {game[0]}-{game[1]}")

        response = requests.get(url, headers=headers, params=querystring)

        if response.status_code == 200:
            game_data = response.json()
            response_arr.append(game_data)
        else:
            print(f"Failed to gather data for {game[0]}-{game[1]}. Status code: {response.status_code}")

        time.sleep(10)

    print("Data Collection Completed!")
    return response_arr

results = game_matches(team_ids, url, headers)

Gathering data for matchup 1-2
Gathering data for matchup 1-4
Failed to gather data for 1-4. Status code: 429
Data Collection Completed!

In [26]:
game_scores = []
for info in results:
    for game in info['response']:
        # Extract id for each game
        game_ids = game.get('id', 'N/A')
        
        # Extract date of the game
        date = game.get('date', {}).get('start','N/A')
        
        # Extract teams info
        visitor = game.get('teams', {}).get('visitors', {}).get('name', 'Unknown')
        home = game.get('teams', {}).get('home', {}).get('name', 'Unknown')
     
        visitor_code = game.get('teams', {}).get('visitors', {}).get('code', 'N/A')
        home_code = game.get('teams', {}).get('home', {}).get('code', 'N/A') 
        
        # Initialize lists to store total scores
        visitor_total_scores = []
        home_total_scores = []
        
        # Extract scores by quarter
        visitor_scores = game.get('scores', {}).get('visitors', {}).get('linescore', [])
        home_scores = game.get('scores', {}).get('home', {}).get('linescore', [])
        
        visitor_points = game.get('scores', {}).get('visitors', {}).get('points', '0')
        home_points = game.get('scores', {}).get('home', {}).get('points', '0')
        
        if visitor_scores and home_scores and visitor_points is not None and home_points is not None:
            visitor_total_scores.append(visitor_points)
            home_total_scores.append(home_points)
        
        # Display data if scores and points exist
        if visitor_scores and home_scores and visitor_total_scores and home_total_scores:
            print(f"Date: {date}")
            print(f"Visitor Team: {visitor} ({visitor_code}) - Scores: {visitor_scores} - Total Points: {visitor_total_scores[0]}")
            print(f"Home Team: {home} ({home_code}) - Scores: {home_scores} - Total Points: {home_total_scores[0]}")
            print('-------------------------------------------')
            
        game_scores.append({
            'game_ids': game_ids,
            'date': date,
            'visitor': visitor,
            'home': home,
            'visitor_points': visitor_points,
            'home_points': home_points
        })
        
    game_score_df = pd.DataFrame(game_scores)

Date: 2015-11-25T01:00:00.000Z
Visitor Team: Boston Celtics (BOS) - Scores: ['28', '20', '25', '24'] - Total Points: 97
Home Team: Atlanta Hawks (ATL) - Scores: ['33', '24', '24', '40'] - Total Points: 121
-------------------------------------------
Date: 2016-04-09T23:30:00.000Z
Visitor Team: Boston Celtics (BOS) - Scores: ['32', '39', '20', '16'] - Total Points: 107
Home Team: Atlanta Hawks (ATL) - Scores: ['34', '33', '26', '25'] - Total Points: 118
-------------------------------------------
Date: 2016-04-16T23:00:00.000Z
Visitor Team: Boston Celtics (BOS) - Scores: ['19', '15', '31', '36'] - Total Points: 101
Home Team: Atlanta Hawks (ATL) - Scores: ['30', '21', '21', '30'] - Total Points: 102
-------------------------------------------
Date: 2016-04-19T23:00:00.000Z
Visitor Team: Boston Celtics (BOS) - Scores: ['7', '21', '18', '26'] - Total Points: 72
Home Team: Atlanta Hawks (ATL) - Scores: ['24', '19', '18', '28'] - Total Points: 89
-------------------------------------------
Date: 2016-04-27T00:30:00.000Z
Visitor Team: Boston Celtics (BOS) - Scores: ['20', '19', '23', '21'] - Total Points: 83
Home Team: Atlanta Hawks (ATL) - Scores: ['15', '32', '42', '21'] - Total Points: 110
-------------------------------------------
Date: 2017-01-14T01:00:00.000Z
Visitor Team: Boston Celtics (BOS) - Scores: ['28', '20', '30', '25'] - Total Points: 103
Home Team: Atlanta Hawks (ATL) - Scores: ['18', '26', '21', '36'] - Total Points: 101
-------------------------------------------
Date: 2017-04-07T00:00:00.000Z
Visitor Team: Boston Celtics (BOS) - Scores: ['24', '31', '34', '27'] - Total Points: 116
Home Team: Atlanta Hawks (ATL) - Scores: ['32', '39', '28', '24'] - Total Points: 123
-------------------------------------------
Date: 2017-11-07T00:30:00.000Z
Visitor Team: Boston Celtics (BOS) - Scores: ['26', '28', '28', '28'] - Total Points: 110
Home Team: Atlanta Hawks (ATL) - Scores: ['25', '29', '21', '32'] - Total Points: 107
-------------------------------------------
Date: 2017-11-19T00:30:00.000Z
Visitor Team: Boston Celtics (BOS) - Scores: ['20', '24', '36', '30'] - Total Points: 110
Home Team: Atlanta Hawks (ATL) - Scores: ['35', '15', '27', '22'] - Total Points: 99
-------------------------------------------
Date: 2018-11-24T00:30:00.000Z
Visitor Team: Boston Celtics (BOS) - Scores: ['45', '16', '21', '32'] - Total Points: 114
Home Team: Atlanta Hawks (ATL) - Scores: ['23', '22', '19', '32'] - Total Points: 96
-------------------------------------------
Date: 2019-01-20T00:30:00.000Z
Visitor Team: Boston Celtics (BOS) - Scores: ['28', '32', '23', '30'] - Total Points: 113
Home Team: Atlanta Hawks (ATL) - Scores: ['36', '31', '22', '16'] - Total Points: 105
-------------------------------------------
Date: 2020-02-04T00:30:00.000Z
Visitor Team: Boston Celtics (BOS) - Scores: ['28', '32', '35', '28'] - Total Points: 123
Home Team: Atlanta Hawks (ATL) - Scores: ['34', '28', '22', '31'] - Total Points: 115
-------------------------------------------
Date: 2021-02-25T00:30:00.000Z
Visitor Team: Boston Celtics (BOS) - Scores: ['27', '22', '29', '34'] - Total Points: 112
Home Team: Atlanta Hawks (ATL) - Scores: ['40', '32', '27', '28'] - Total Points: 127
-------------------------------------------
Date: 2021-11-18T00:30:00.000Z
Visitor Team: Boston Celtics (BOS) - Scores: ['29', '20', '28', '22'] - Total Points: 99
Home Team: Atlanta Hawks (ATL) - Scores: ['30', '28', '33', '19'] - Total Points: 110
-------------------------------------------
Date: 2022-01-29T00:30:00.000Z
Visitor Team: Boston Celtics (BOS) - Scores: ['20', '27', '30', '15'] - Total Points: 92
Home Team: Atlanta Hawks (ATL) - Scores: ['32', '30', '18', '28'] - Total Points: 108
-------------------------------------------
Date: 2022-11-17T00:30:00.000Z
Visitor Team: Boston Celtics (BOS) - Scores: ['30', '32', '35', '29'] - Total Points: 126
Home Team: Atlanta Hawks (ATL) - Scores: ['18', '35', '25', '23'] - Total Points: 101
-------------------------------------------
Date: 2023-04-21T23:00:00.000Z
Visitor Team: Boston Celtics (BOS) - Scores: ['37', '30', '26', '29'] - Total Points: 122
Home Team: Atlanta Hawks (ATL) - Scores: ['33', '41', '26', '30'] - Total Points: 130
-------------------------------------------
Date: 2023-04-23T23:00:00.000Z
Visitor Team: Boston Celtics (BOS) - Scores: ['35', '30', '27', '37'] - Total Points: 129
Home Team: Atlanta Hawks (ATL) - Scores: ['25', '28', '34', '34'] - Total Points: 121
-------------------------------------------
Date: 2023-04-28T00:30:00.000Z
Visitor Team: Boston Celtics (BOS) - Scores: ['35', '33', '30', '30'] - Total Points: 128
Home Team: Atlanta Hawks (ATL) - Scores: ['34', '33', '33', '20'] - Total Points: 120
-------------------------------------------
Date: 2024-03-25T23:30:00.000Z
Visitor Team: Boston Celtics (BOS) - Scores: ['44', '30', '22', '22'] - Total Points: 118
Home Team: Atlanta Hawks (ATL) - Scores: ['22', '34', '34', '30'] - Total Points: 120
-------------------------------------------
Date: 2024-03-28T23:30:00.000Z
Visitor Team: Boston Celtics (BOS) - Scores: ['29', '34', '27', '22', '10'] - Total Points: 122
Home Team: Atlanta Hawks (ATL) - Scores: ['28', '31', '30', '23', '11'] - Total Points: 123
-------------------------------------------
Date: 2023-03-12T00:30:00.000Z
Visitor Team: Boston Celtics (BOS) - Scores: ['37', '34', '30', '33'] - Total Points: 134
Home Team: Atlanta Hawks (ATL) - Scores: ['38', '23', '28', '36'] - Total Points: 125
-------------------------------------------
Date: 2024-11-05T00:45:00.000Z
Visitor Team: Boston Celtics (BOS) - Scores: ['35', '40', '28', '20'] - Total Points: 123
Home Team: Atlanta Hawks (ATL) - Scores: ['30', '23', '22', '18'] - Total Points: 93
-------------------------------------------
Date: 2015-11-14T00:30:00.000Z
Visitor Team: Atlanta Hawks (ATL) - Scores: ['26', '19', '24', '24'] - Total Points: 93
Home Team: Boston Celtics (BOS) - Scores: ['23', '22', '35', '26'] - Total Points: 106
-------------------------------------------
Date: 2015-12-19T00:30:00.000Z
Visitor Team: Atlanta Hawks (ATL) - Scores: ['19', '23', '29', '38'] - Total Points: 109
Home Team: Boston Celtics (BOS) - Scores: ['25', '18', '30', '28'] - Total Points: 101
-------------------------------------------
Date: 2016-04-23T00:00:00.000Z
Visitor Team: Atlanta Hawks (ATL) - Scores: ['20', '25', '33', '25'] - Total Points: 103
Home Team: Boston Celtics (BOS) - Scores: ['37', '20', '22', '32'] - Total Points: 111
-------------------------------------------
Date: 2016-04-24T22:00:00.000Z
Visitor Team: Atlanta Hawks (ATL) - Scores: ['21', '27', '25', '19', '3'] - Total Points: 95
Home Team: Boston Celtics (BOS) - Scores: ['24', '22', '24', '22', '12'] - Total Points: 104
-------------------------------------------
Date: 2016-04-29T00:00:00.000Z
Visitor Team: Atlanta Hawks (ATL) - Scores: ['20', '21', '39', '24'] - Total Points: 104
Home Team: Boston Celtics (BOS) - Scores: ['17', '16', '26', '33'] - Total Points: 92
-------------------------------------------
Date: 2017-02-28T00:30:00.000Z
Visitor Team: Atlanta Hawks (ATL) - Scores: ['24', '27', '33', '30'] - Total Points: 114
Home Team: Boston Celtics (BOS) - Scores: ['24', '23', '24', '27'] - Total Points: 98
-------------------------------------------
Date: 2018-02-03T00:30:00.000Z
Visitor Team: Atlanta Hawks (ATL) - Scores: ['32', '23', '20', '35'] - Total Points: 110
Home Team: Boston Celtics (BOS) - Scores: ['26', '27', '41', '25'] - Total Points: 119
-------------------------------------------
Date: 2018-04-08T17:00:00.000Z
Visitor Team: Atlanta Hawks (ATL) - Scores: ['24', '25', '27', '36'] - Total Points: 112
Home Team: Boston Celtics (BOS) - Scores: ['31', '27', '24', '24'] - Total Points: 106
-------------------------------------------
Date: 2018-12-15T00:00:00.000Z
Visitor Team: Atlanta Hawks (ATL) - Scores: ['19', '37', '26', '26'] - Total Points: 108
Home Team: Boston Celtics (BOS) - Scores: ['42', '25', '41', '21'] - Total Points: 129
-------------------------------------------
Date: 2019-03-16T16:30:00.000Z
Visitor Team: Atlanta Hawks (ATL) - Scores: ['36', '26', '30', '28'] - Total Points: 120
Home Team: Boston Celtics (BOS) - Scores: ['43', '31', '31', '24'] - Total Points: 129
-------------------------------------------
Date: 2020-01-04T00:00:00.000Z
Visitor Team: Atlanta Hawks (ATL) - Scores: ['32', '23', '25', '26'] - Total Points: 106
Home Team: Boston Celtics (BOS) - Scores: ['19', '34', '29', '27'] - Total Points: 109
-------------------------------------------
Date: 2020-02-08T00:30:00.000Z
Visitor Team: Atlanta Hawks (ATL) - Scores: ['26', '29', '18', '34'] - Total Points: 107
Home Team: Boston Celtics (BOS) - Scores: ['28', '26', '33', '25'] - Total Points: 112
-------------------------------------------
Date: 2021-02-20T00:30:00.000Z
Visitor Team: Atlanta Hawks (ATL) - Scores: ['22', '19', '32', '36'] - Total Points: 109
Home Team: Boston Celtics (BOS) - Scores: ['33', '33', '32', '23'] - Total Points: 121
-------------------------------------------
Date: 2021-02-18T00:30:00.000Z
Visitor Team: Atlanta Hawks (ATL) - Scores: ['33', '29', '28', '32'] - Total Points: 122
Home Team: Boston Celtics (BOS) - Scores: ['35', '21', '25', '33'] - Total Points: 114
-------------------------------------------
Date: 2022-02-13T19:00:00.000Z
Visitor Team: Atlanta Hawks (ATL) - Scores: ['28', '27', '23', '17'] - Total Points: 95
Home Team: Boston Celtics (BOS) - Scores: ['17', '28', '42', '18'] - Total Points: 105
-------------------------------------------
Date: 2022-03-02T00:30:00.000Z
Visitor Team: Atlanta Hawks (ATL) - Scores: ['28', '37', '13', '20'] - Total Points: 98
Home Team: Boston Celtics (BOS) - Scores: ['19', '32', '31', '25'] - Total Points: 107
-------------------------------------------
Date: 2023-04-09T17:00:00.000Z
Visitor Team: Atlanta Hawks (ATL) - Scores: ['31', '33', '26', '24'] - Total Points: 114
Home Team: Boston Celtics (BOS) - Scores: ['29', '32', '39', '20'] - Total Points: 120
-------------------------------------------
Date: 2023-04-15T19:30:00.000Z
Visitor Team: Atlanta Hawks (ATL) - Scores: ['19', '25', '31', '24'] - Total Points: 99
Home Team: Boston Celtics (BOS) - Scores: ['29', '45', '20', '18'] - Total Points: 112
-------------------------------------------
Date: 2023-04-18T23:00:00.000Z
Visitor Team: Atlanta Hawks (ATL) - Scores: ['25', '24', '32', '25'] - Total Points: 106
Home Team: Boston Celtics (BOS) - Scores: ['28', '33', '29', '29'] - Total Points: 119
-------------------------------------------
Date: 2023-04-25T23:30:00.000Z
Visitor Team: Atlanta Hawks (ATL) - Scores: ['30', '28', '24', '37'] - Total Points: 119
Home Team: Boston Celtics (BOS) - Scores: ['27', '39', '26', '25'] - Total Points: 117
-------------------------------------------
Date: 2023-11-26T23:00:00.000Z
Visitor Team: Atlanta Hawks (ATL) - Scores: ['26', '27', '29', '21'] - Total Points: 103
Home Team: Boston Celtics (BOS) - Scores: ['33', '36', '21', '23'] - Total Points: 113
-------------------------------------------
Date: 2024-02-08T00:30:00.000Z
Visitor Team: Atlanta Hawks (ATL) - Scores: ['37', '30', '23', '27'] - Total Points: 117
Home Team: Boston Celtics (BOS) - Scores: ['35', '36', '24', '30'] - Total Points: 125
-------------------------------------------
Date: 2024-11-13T00:00:00.000Z
Visitor Team: Atlanta Hawks (ATL) - Scores: ['29', '25', '30', '33'] - Total Points: 117
Home Team: Boston Celtics (BOS) - Scores: ['31', '34', '26', '25'] - Total Points: 116
-------------------------------------------

In [ ]:
game_score_df.to_excel('./data/apiGameScores.xlsx', index=False)
game_score_df

,game_ids,date,visitor,home,visitor_points,home_points
0,319,2015-11-25T01:00:00.000Z,Boston Celtics,Atlanta Hawks,97.0,121.0
1,1300,2016-04-09T23:30:00.000Z,Boston Celtics,Atlanta Hawks,107.0,118.0
2,1344,2016-04-16T23:00:00.000Z,Boston Celtics,Atlanta Hawks,101.0,102.0
3,1353,2016-04-19T23:00:00.000Z,Boston Celtics,Atlanta Hawks,72.0,89.0
4,1376,2016-04-27T00:30:00.000Z,Boston Celtics,Atlanta Hawks,83.0,110.0
...,...,...,...,...,...,...
79,12202,2023-03-31T23:30:00.000Z,Atlanta Hawks,Brooklyn Nets,107.0,124.0
80,13399,2024-03-01T00:30:00.000Z,Atlanta Hawks,Brooklyn Nets,97.0,124.0
81,13414,2024-03-02T20:00:00.000Z,Atlanta Hawks,Brooklyn Nets,102.0,114.0
82,15092,2025-03-16T22:00:00.000Z,Atlanta Hawks,Brooklyn Nets,NaN,NaN
83,15283,2025-04-10T23:30:00.000Z,Atlanta Hawks,Brooklyn Nets,NaN,NaN

In [ ]:
game_score_df.loc[(game_score_df['visitor'] == 'Boston Celtics') & (game_score_df['home'] == 'Atlanta Hawks')]

,game_ids,date,visitor,home,visitor_points,home_points
0,319,2015-11-25T01:00:00.000Z,Boston Celtics,Atlanta Hawks,97.0,121.0
1,1300,2016-04-09T23:30:00.000Z,Boston Celtics,Atlanta Hawks,107.0,118.0
2,1344,2016-04-16T23:00:00.000Z,Boston Celtics,Atlanta Hawks,101.0,102.0
3,1353,2016-04-19T23:00:00.000Z,Boston Celtics,Atlanta Hawks,72.0,89.0
4,1376,2016-04-27T00:30:00.000Z,Boston Celtics,Atlanta Hawks,83.0,110.0
5,2125,2017-01-14T01:00:00.000Z,Boston Celtics,Atlanta Hawks,103.0,101.0
6,2709,2017-04-07T00:00:00.000Z,Boston Celtics,Atlanta Hawks,116.0,123.0
7,3065,2017-11-07T00:30:00.000Z,Boston Celtics,Atlanta Hawks,110.0,107.0
8,3149,2017-11-19T00:30:00.000Z,Boston Celtics,Atlanta Hawks,110.0,99.0
9,4654,2018-11-24T00:30:00.000Z,Boston Celtics,Atlanta Hawks,114.0,96.0
10,5069,2019-01-20T00:30:00.000Z,Boston Celtics,Atlanta Hawks,113.0,105.0
11,7134,2020-02-04T00:30:00.000Z,Boston Celtics,Atlanta Hawks,123.0,115.0
12,8671,2021-02-25T00:30:00.000Z,Boston Celtics,Atlanta Hawks,112.0,127.0
13,9484,2021-08-08T20:00:00.000Z,Boston Celtics,Atlanta Hawks,85.0,83.0
14,9780,2021-11-18T00:30:00.000Z,Boston Celtics,Atlanta Hawks,99.0,110.0
15,10302,2022-01-29T00:30:00.000Z,Boston Celtics,Atlanta Hawks,92.0,108.0
16,11263,2022-11-17T00:30:00.000Z,Boston Celtics,Atlanta Hawks,126.0,101.0
17,12388,2023-04-21T23:00:00.000Z,Boston Celtics,Atlanta Hawks,122.0,130.0
18,12395,2023-04-23T23:00:00.000Z,Boston Celtics,Atlanta Hawks,129.0,121.0
19,12404,2023-04-28T00:30:00.000Z,Boston Celtics,Atlanta Hawks,128.0,120.0
20,13582,2024-03-25T23:30:00.000Z,Boston Celtics,Atlanta Hawks,118.0,120.0
21,13608,2024-03-28T23:30:00.000Z,Boston Celtics,Atlanta Hawks,122.0,123.0
22,13877,2023-03-12T00:30:00.000Z,Boston Celtics,Atlanta Hawks,134.0,125.0
23,14211,2024-11-05T00:45:00.000Z,Boston Celtics,Atlanta Hawks,123.0,93.0