In [52]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import datetime as dt
import time

In [53]:
scores_df = pd.read_excel('./data/game_scores.xlsx')
scores_df.head()

,date,visitor,home,visitor_points,home_points
0,2015-11-25T01:00:00.000Z,Boston Celtics,Atlanta Hawks,97.0,121.0
1,2016-04-09T23:30:00.000Z,Boston Celtics,Atlanta Hawks,107.0,118.0
2,2016-04-16T23:00:00.000Z,Boston Celtics,Atlanta Hawks,101.0,102.0
3,2016-04-19T23:00:00.000Z,Boston Celtics,Atlanta Hawks,72.0,89.0
4,2016-04-27T00:30:00.000Z,Boston Celtics,Atlanta Hawks,83.0,110.0

In [54]:
scores_df.describe()

       visitor_points   home_points
count    12670.000000  12670.000000
mean       107.518548    109.777269
std         13.630850     13.613021
min          0.000000      0.000000
25%         99.000000    101.000000
50%        108.000000    110.000000
75%        116.000000    119.000000
max        176.000000    175.000000

In [55]:
scores_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14242 entries, 0 to 14241
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   date            14242 non-null  object
 1   visitor         14242 non-null  object
 2   home            14242 non-null  object
 3   visitor_points  12670 non-null  float64
 4   home_points     12670 non-null  float64
dtypes: float64(2), object(3)
memory usage: 556.5+ KB

In [56]:
scores_df.isnull().sum()

date                 0
visitor              0
home                 0
visitor_points    1572
home_points       1572
dtype: int64

In [70]:
scores_df['date'] = pd.to_datetime(scores_df['date'], errors='coerce')

In [68]:
scores_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14242 entries, 0 to 14241
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   date            13926 non-null  datetime64[ns, UTC]
 1   visitor         14242 non-null  object
 2   home            14242 non-null  object
 3   visitor_points  12670 non-null  float64
 4   home_points     12670 non-null  float64
dtypes: datetime64[ns, UTC](1), float64(2), object(2)
memory usage: 556.5+ KB

In [69]:
scores_df[scores_df['visitor_points'].isnull()]

,date,visitor,home,visitor_points,home_points
23,2024-11-05 00:45:00+00:00,Boston Celtics,Atlanta Hawks,NaN,NaN
46,2024-11-13 00:00:00+00:00,Atlanta Hawks,Boston Celtics,NaN,NaN
47,2025-01-19 00:00:00+00:00,Atlanta Hawks,Boston Celtics,NaN,NaN
65,2024-10-23 23:30:00+00:00,Brooklyn Nets,Atlanta Hawks,NaN,NaN
82,2025-03-16 22:00:00+00:00,Atlanta Hawks,Brooklyn Nets,NaN,NaN
...,...,...,...,...,...
14210,NaT,Toronto Raptors,Washington Wizards,NaN,NaN
14220,2025-01-30 00:00:00+00:00,Toronto Raptors,Washington Wizards,NaN,NaN
14221,2025-03-24 23:00:00+00:00,Toronto Raptors,Washington Wizards,NaN,NaN
14231,2025-03-06 00:00:00+00:00,Utah Jazz,Washington Wizards,NaN,NaN
14241,2025-01-24 02:00:00+00:00,Washington Wizards,Utah Jazz,NaN,NaN

In [73]:
# Getting today's date
todays_Date = dt.date.fromtimestamp(time.time())
 
# Calling the isoformat() function over the
# today's date
date_in_ISOFormat = todays_Date.isoformat()

# Create a dataframe with no future dates
scores_df.loc[scores_df['date'] <= date_in_ISOFormat]

,date,visitor,home,visitor_points,home_points
0,2015-11-25 01:00:00+00:00,Boston Celtics,Atlanta Hawks,97.0,121.0
1,2016-04-09 23:30:00+00:00,Boston Celtics,Atlanta Hawks,107.0,118.0
2,2016-04-16 23:00:00+00:00,Boston Celtics,Atlanta Hawks,101.0,102.0
3,2016-04-19 23:00:00+00:00,Boston Celtics,Atlanta Hawks,72.0,89.0
4,2016-04-27 00:30:00+00:00,Boston Celtics,Atlanta Hawks,83.0,110.0
...,...,...,...,...,...
14236,2020-02-29 02:00:00+00:00,Washington Wizards,Utah Jazz,119.0,129.0
14237,2021-04-13 01:00:00+00:00,Washington Wizards,Utah Jazz,125.0,121.0
14238,2021-12-19 02:00:00+00:00,Washington Wizards,Utah Jazz,109.0,103.0
14239,2022-12-23 02:00:00+00:00,Washington Wizards,Utah Jazz,112.0,120.0
14240,2024-03-05 02:00:00+00:00,Washington Wizards,Utah Jazz,115.0,127.0

In [72]:
# Getting today's date
todays_Date = dt.date.fromtimestamp(time.time())
 
# Calling the isoformat() function over the
# today's date
date_in_ISOFormat = todays_Date.isoformat()
date_in_ISOFormat

'2024-10-19'