In [41]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt
import numpy as np

# to ignore the warnings
from warnings import filterwarnings

In [42]:
game_df = pd.read_csv('./data/gameStatistics.csv') # change path to ./data/gameStatistics contains the game_ids when cleaned properly
game_df.head()

,visitor_fastBreakPoints,visitor_pointsInPaint,visitor_biggestLead,visitor_secondChancePoints,visitor_pointsOffTurnovers,visitor_longestRun,visitor_points,visitor_fgm,visitor_fga,visitor_fgp,...,home_defReb,home_totReb,home_assists,home_pFouls,home_steals,home_turnovers,home_blocks,home_plusMinus,home_min,home_team
0,NaN,NaN,NaN,NaN,NaN,NaN,88,29,77,37.7,...,30,46,20,20,10,10,5,20,240:00,New York Knicks
1,NaN,NaN,NaN,NaN,NaN,NaN,125,47,85,55.3,...,20,26,21,24,5,5,3,1,240:00,Dallas Mavericks
2,NaN,NaN,NaN,NaN,NaN,NaN,106,38,96,39.6,...,40,42,26,16,7,14,6,17,240:00,Brooklyn Nets
3,NaN,NaN,NaN,NaN,NaN,NaN,102,39,81,48.1,...,35,50,20,18,9,21,5,1,240:00,Cleveland Cavaliers
4,NaN,NaN,NaN,NaN,NaN,NaN,104,36,83,43.4,...,37,52,21,22,6,14,6,12,240:00,Detroit Pistons

In [43]:
game_df.describe()

,visitor_fastBreakPoints,visitor_pointsInPaint,visitor_biggestLead,visitor_secondChancePoints,visitor_pointsOffTurnovers,visitor_longestRun,visitor_points,visitor_fgm,visitor_fga,visitor_fgp,...,home_tpp,home_offReb,home_defReb,home_totReb,home_assists,home_pFouls,home_steals,home_turnovers,home_blocks,home_plusMinus
count,0.0,0.0,0.0,0.0,0.0,0.0,2495.000000,2495.000000,2495.000000,2495.000000,...,2495.000000,2495.000000,2495.000000,2495.000000,2495.000000,2495.000000,2495.000000,2495.000000,2495.000000,2495.000000
mean,NaN,NaN,NaN,NaN,NaN,NaN,114.954709,42.089780,88.414429,47.688377,...,35.576313,10.553106,32.583166,43.136273,25.664128,19.361122,7.524649,13.868136,4.909419,-2.282164
std,NaN,NaN,NaN,NaN,NaN,NaN,12.482287,5.343152,7.614180,5.508311,...,8.348361,3.879434,5.392103,6.680402,5.082422,4.308178,2.990913,4.006491,2.507849,14.934196
min,NaN,NaN,NaN,NaN,NaN,NaN,73.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-62.000000
25%,NaN,NaN,NaN,NaN,NaN,NaN,106.000000,38.000000,84.000000,43.900000,...,30.000000,8.000000,29.000000,39.000000,22.000000,17.000000,5.000000,11.000000,3.000000,-12.000000
50%,NaN,NaN,NaN,NaN,NaN,NaN,115.000000,42.000000,88.000000,47.500000,...,35.400000,10.000000,32.000000,43.000000,25.000000,19.000000,7.000000,14.000000,5.000000,-3.000000
75%,NaN,NaN,NaN,NaN,NaN,NaN,123.000000,46.000000,93.000000,51.400000,...,41.000000,13.000000,36.000000,47.000000,29.000000,22.000000,9.000000,16.000000,6.000000,8.000000
max,NaN,NaN,NaN,NaN,NaN,NaN,175.000000,65.000000,121.000000,66.300000,...,63.400000,28.000000,60.000000,73.000000,47.000000,35.000000,22.000000,33.000000,17.000000,56.000000

In [44]:
game_df.dtypes

visitor_fastBreakPoints       float64
visitor_pointsInPaint         float64
visitor_biggestLead           float64
visitor_secondChancePoints    float64
visitor_pointsOffTurnovers    float64
visitor_longestRun            float64
visitor_points                  int64
visitor_fgm                     int64
visitor_fga                     int64
visitor_fgp                   float64
visitor_ftm                     int64
visitor_fta                     int64
visitor_ftp                   float64
visitor_tpm                     int64
visitor_tpa                     int64
visitor_tpp                   float64
visitor_offReb                  int64
visitor_defReb                  int64
visitor_totReb                  int64
visitor_assists                 int64
visitor_pFouls                  int64
visitor_steals                  int64
visitor_turnovers               int64
visitor_blocks                  int64
visitor_plusMinus               int64
visitor_min                    object
game_id                         int64
visitor_team                   object
home_fastBreakPoints          float64
home_pointsInPaint            float64
home_biggestLead              float64
home_secondChancePoints       float64
home_pointsOffTurnovers       float64
home_longestRun               float64
home_points                     int64
home_fgm                        int64
home_fga                        int64
home_fgp                      float64
home_ftm                        int64
home_fta                        int64
home_ftp                      float64
home_tpm                        int64
home_tpa                        int64
home_tpp                      float64
home_offReb                     int64
home_defReb                     int64
home_totReb                     int64
home_assists                    int64
home_pFouls                     int64
home_steals                     int64
home_turnovers                  int64
home_blocks                     int64
home_plusMinus                  int64
home_min                       object
home_team                      object
dtype: object

In [45]:
# Convert values in percentage columns to decimal form
game_df[['visitor_ftp', 'visitor_fgp', 'visitor_tpp', 'home_ftp', 'home_fgp','home_tpp']] = game_df[
    ['visitor_ftp', 
     'visitor_fgp', 
     'visitor_tpp', 
     'home_ftp', 
     'home_fgp',
     'home_tpp']
    ].apply(lambda x: x / 100)

In [46]:
# Drop game_id column
game_df = game_df.drop(columns=['visitor_fastBreakPoints', 'visitor_pointsInPaint',
       'visitor_biggestLead', 'visitor_secondChancePoints',
       'visitor_pointsOffTurnovers', 'visitor_longestRun','visitor_plusMinus',
       'visitor_min','home_fastBreakPoints',
       'home_pointsInPaint', 'home_biggestLead', 'home_secondChancePoints',
       'home_pointsOffTurnovers', 'home_longestRun','home_plusMinus', 'home_min','game_id'])

In [47]:
# # Based on the column data and the fact that the home_team has the same missing data as the visitor_team
# # A function should be created to fill all the Null values with the average of those columns
# # Later will see if this affects how well the machine learning model works

# def fillNullCols(df):
#     # Find all data type 'int' or 'float' columns that have Null values
#     df.select_dtypes(include=['int', 'float'])

#     # Looks at the total percentage of null values in each columns
#     null_percentage = (df.isnull().sum() / len(df)) * 100

#     # Rule of thumb: Moderate Null Percentage (10-30%)
#     # Filling the null values with an appropriate value (like the mean, median, or mode) is often better in this range, especially if the column is critical for analysis

#     # Get columns from null_percentage with at least 20% with null values
#     null_columns = null_percentage[null_percentage >= 0.2].index

#     # Fill rows with the mode of the column
#     for column in null_columns:
#         mode_fill_value = df[column].mode()[0]
#         df[column] = df[column].fillna(mode_fill_value)

#     return df

# # Create new data frame
# stats_df = fillNullCols(game_df)
# stats_df.head()

In [48]:
# Create target columns 'total_points'
stats_df = game_df.copy()
stats_df['total_points'] = stats_df['visitor_points'] + stats_df['home_points']
stats_df.head()

,visitor_points,visitor_fgm,visitor_fga,visitor_fgp,visitor_ftm,visitor_fta,visitor_ftp,visitor_tpm,visitor_tpa,visitor_tpp,...,home_offReb,home_defReb,home_totReb,home_assists,home_pFouls,home_steals,home_turnovers,home_blocks,home_team,total_points
0,88,29,77,0.377,16,23,0.696,14,46,0.304,...,16,30,46,20,20,10,10,5,New York Knicks,196
1,125,47,85,0.553,23,32,0.719,8,19,0.421,...,6,20,26,21,24,5,5,3,Dallas Mavericks,251
2,106,38,96,0.396,19,21,0.905,11,41,0.268,...,2,40,42,26,16,7,14,6,Brooklyn Nets,229
3,102,39,81,0.481,17,24,0.708,7,21,0.333,...,15,35,50,20,18,9,21,5,Cleveland Cavaliers,205
4,104,36,83,0.434,22,26,0.846,10,34,0.294,...,15,37,52,21,22,6,14,6,Detroit Pistons,220

In [49]:
# Look for correlation between columns and 'total_points' column
correlations = stats_df.corr(numeric_only=True)['total_points'].sort_values(ascending=False)
correlations

total_points         1.000000
home_points          0.810196
visitor_points       0.801435
home_fgm             0.672818
visitor_fgm          0.656022
visitor_fgp          0.479763
home_assists         0.444448
visitor_assists      0.424353
visitor_tpp          0.398440
visitor_tpm          0.381341
home_tpp             0.365903
home_tpm             0.342947
home_fga             0.331352
visitor_fga          0.322941
home_ftm             0.285876
home_fta             0.273279
visitor_ftm          0.255151
visitor_fta          0.235214
visitor_pFouls       0.210464
home_pFouls          0.163080
visitor_tpa          0.129732
home_tpa             0.098384
home_ftp             0.083222
home_fgp             0.068935
visitor_ftp          0.068935
home_offReb          0.034397
visitor_offReb       0.007895
home_blocks         -0.027852
home_steals         -0.044580
visitor_blocks      -0.063240
visitor_steals      -0.074273
home_totReb         -0.101908
visitor_turnovers   -0.113236
home_turnovers      -0.114020
visitor_totReb      -0.136213
home_defReb         -0.151004
visitor_defReb      -0.174513
Name: total_points, dtype: float64

In [50]:
# Set target column
target_column = 'total_points'

# Look for correlation between columns and 'total_points' column
correlations = stats_df.corr(numeric_only=True)[target_column]

# Set conditions to find feature columns
feature_columns = correlations[correlations > 0.0]

# Create new data frame with chosen feature columns
new_df = stats_df[feature_columns.index]

# Add 'visitor_team' and 'home_team' to the new DataFrame
new_df = pd.concat([stats_df[['home_team', 'visitor_team']], new_df], axis=1)
new_df

,home_team,visitor_team,visitor_points,visitor_fgm,visitor_fga,visitor_fgp,visitor_ftm,visitor_fta,visitor_ftp,visitor_tpm,...,home_ftm,home_fta,home_ftp,home_tpm,home_tpa,home_tpp,home_offReb,home_assists,home_pFouls,total_points
0,New York Knicks,Houston Rockets,88,29,77,0.377,16,23,0.696,14,...,23,32,0.719,15,51,0.294,16,20,20,196
1,Dallas Mavericks,San Antonio Spurs,125,47,85,0.553,23,32,0.719,8,...,12,21,0.571,14,34,0.412,6,21,24,251
2,Brooklyn Nets,Charlotte Hornets,106,38,96,0.396,19,21,0.905,11,...,14,19,0.737,13,34,0.382,2,26,16,229
3,Cleveland Cavaliers,Chicago Bulls,102,39,81,0.481,17,24,0.708,7,...,12,19,0.632,13,38,0.342,15,20,18,205
4,Detroit Pistons,Minnesota Timberwolves,104,36,83,0.434,22,26,0.846,10,...,20,28,0.714,10,27,0.370,15,21,22,220
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2490,Chicago Bulls,Washington Wizards,108,39,91,0.429,20,31,0.645,10,...,19,22,0.864,14,40,0.350,8,29,22,235
2491,Milwaukee Bucks,Miami Heat,103,35,77,0.455,23,30,0.767,10,...,14,17,0.824,20,42,0.476,9,23,19,209
2492,Houston Rockets,Minnesota Timberwolves,111,42,98,0.429,18,20,0.900,9,...,12,13,0.923,15,37,0.405,7,31,20,228
2493,San Antonio Spurs,Utah Jazz,115,43,84,0.512,16,20,0.800,13,...,20,26,0.769,18,48,0.375,13,30,17,243
2494,Los Angeles Lakers,Phoenix Suns,127,51,99,0.515,8,10,0.800,17,...,18,25,0.720,8,34,0.235,7,25,11,227

In [51]:
new_df = new_df.dropna()
new_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2495 entries, 0 to 2494
Data columns (total 29 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   home_team        2495 non-null   object
 1   visitor_team     2495 non-null   object
 2   visitor_points   2495 non-null   int64
 3   visitor_fgm      2495 non-null   int64
 4   visitor_fga      2495 non-null   int64
 5   visitor_fgp      2495 non-null   float64
 6   visitor_ftm      2495 non-null   int64
 7   visitor_fta      2495 non-null   int64
 8   visitor_ftp      2495 non-null   float64
 9   visitor_tpm      2495 non-null   int64
 10  visitor_tpa      2495 non-null   int64
 11  visitor_tpp      2495 non-null   float64
 12  visitor_offReb   2495 non-null   int64
 13  visitor_assists  2495 non-null   int64
 14  visitor_pFouls   2495 non-null   int64
 15  home_points      2495 non-null   int64
 16  home_fgm         2495 non-null   int64
 17  home_fga         2495 non-null   int64
 18  home_fgp         2495 non-null   float64
 19  home_ftm         2495 non-null   int64
 20  home_fta         2495 non-null   int64
 21  home_ftp         2495 non-null   float64
 22  home_tpm         2495 non-null   int64
 23  home_tpa         2495 non-null   int64
 24  home_tpp         2495 non-null   float64
 25  home_offReb      2495 non-null   int64
 26  home_assists     2495 non-null   int64
 27  home_pFouls      2495 non-null   int64
 28  total_points     2495 non-null   int64
dtypes: float64(6), int64(21), object(2)
memory usage: 565.4+ KB

In [52]:
# Apply one-hot encoding and convert to booleans to integers
encoded_df = pd.get_dummies(new_df, columns=['visitor_team', 'home_team'])

# Convert only the binary columns to integers
encoded_df = encoded_df.apply(lambda x: x.astype(int) if x.dtype == 'bool' else x)

# Display
encoded_df

,visitor_points,visitor_fgm,visitor_fga,visitor_fgp,visitor_ftm,visitor_fta,visitor_ftp,visitor_tpm,visitor_tpa,visitor_tpp,...,home_team_Oklahoma City Thunder,home_team_Orlando Magic,home_team_Philadelphia 76ers,home_team_Phoenix Suns,home_team_Portland Trail Blazers,home_team_Sacramento Kings,home_team_San Antonio Spurs,home_team_Toronto Raptors,home_team_Utah Jazz,home_team_Washington Wizards
0,88,29,77,0.377,16,23,0.696,14,46,0.304,...,0,0,0,0,0,0,0,0,0,0
1,125,47,85,0.553,23,32,0.719,8,19,0.421,...,0,0,0,0,0,0,0,0,0,0
2,106,38,96,0.396,19,21,0.905,11,41,0.268,...,0,0,0,0,0,0,0,0,0,0
3,102,39,81,0.481,17,24,0.708,7,21,0.333,...,0,0,0,0,0,0,0,0,0,0
4,104,36,83,0.434,22,26,0.846,10,34,0.294,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2490,108,39,91,0.429,20,31,0.645,10,37,0.270,...,0,0,0,0,0,0,0,0,0,0
2491,103,35,77,0.455,23,30,0.767,10,29,0.345,...,0,0,0,0,0,0,0,0,0,0
2492,111,42,98,0.429,18,20,0.900,9,38,0.237,...,0,0,0,0,0,0,0,0,0,0
2493,115,43,84,0.512,16,20,0.800,13,35,0.371,...,0,0,0,0,0,0,1,0,0,0
2494,127,51,99,0.515,8,10,0.800,17,42,0.405,...,0,0,0,0,0,0,0,0,0,0

# Winner Prediction

In [53]:
# Create a column to check if the home team won
encoded_df['home_win'] = encoded_df.apply(
    lambda row: 1 if row['home_points'] > row['visitor_points'] else 0,
    axis=1
)
encoded_df.head()

,visitor_points,visitor_fgm,visitor_fga,visitor_fgp,visitor_ftm,visitor_fta,visitor_ftp,visitor_tpm,visitor_tpa,visitor_tpp,...,home_team_Orlando Magic,home_team_Philadelphia 76ers,home_team_Phoenix Suns,home_team_Portland Trail Blazers,home_team_Sacramento Kings,home_team_San Antonio Spurs,home_team_Toronto Raptors,home_team_Utah Jazz,home_team_Washington Wizards,home_win
0,88,29,77,0.377,16,23,0.696,14,46,0.304,...,0,0,0,0,0,0,0,0,0,1
1,125,47,85,0.553,23,32,0.719,8,19,0.421,...,0,0,0,0,0,0,0,0,0,1
2,106,38,96,0.396,19,21,0.905,11,41,0.268,...,0,0,0,0,0,0,0,0,0,1
3,102,39,81,0.481,17,24,0.708,7,21,0.333,...,0,0,0,0,0,0,0,0,0,1
4,104,36,83,0.434,22,26,0.846,10,34,0.294,...,0,0,0,0,0,0,0,0,0,1

In [54]:
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

scaler = MinMaxScaler()

X = scaler.fit_transform(encoded_df.drop(columns=['home_win', 'home_points', 'total_points', 'visitor_points']))

X_df = pd.DataFrame(X, columns=encoded_df.drop(columns=['home_win', 'home_points', 'total_points', 'visitor_points']).columns)
y = encoded_df['home_win']

# Splitting into testing/train data
X_train, X_test, y_train, y_test = train_test_split(X_df, y, test_size=0.2, random_state=42)

# Create decision tree regression instance
model = DecisionTreeClassifier()

# Fit model
model = model.fit(X_train, y_train)

# Making predictions using scaled data
predictions = model.predict(X_test)

In [63]:
visitor_team = input("Enter Away Team: ")
home_team = input("Enter Home Team: ")

# Create input data with correct features
input_data = {col: 0 for col in X_df.columns}
if f'home_{home_team}' in input_data:
    input_data[f'home_{home_team}'] = 1
if f'visitor_{visitor_team}' in input_data:
    input_data[f'visitor_{visitor_team}'] = 1

# Convert to DataFrame and scale
input_df = pd.DataFrame([input_data])
input_scaled = scaler.transform(input_df)

# Predict the winner and total points
predicted_winner = model.predict(input_scaled)[0]
# predicted_total_points = linear_model.predict(input_scaled)[0]

# Map winner prediction to the team name
winning_team = home_team if predicted_winner == 1 else visitor_team

# Print results
print("Predicted Winner:", winning_team)
# print("Predicted Total Points:", round(predicted_total_points, 0))

Predicted Winner: Minnesota Timberwolves

c:\Users\User\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

In [56]:
print("Accuracy:", accuracy_score(y_test, predictions))
print("Confusion Matrix:\n", confusion_matrix(y_test, predictions))
print("Classification Report:\n", classification_report(y_test, predictions))

Accuracy: 0.7915831663326653
Confusion Matrix:
 [[206  49]
 [ 55 189]]
Classification Report:
               precision    recall  f1-score   support

           0       0.79      0.81      0.80       255
           1       0.79      0.77      0.78       244

    accuracy                           0.79       499
   macro avg       0.79      0.79      0.79       499
weighted avg       0.79      0.79      0.79       499