In [602]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt
import numpy as np

# to ignore the warnings
from warnings import filterwarnings

In [603]:
game_statistics_df = pd.read_csv('./data/gameStatistics.csv') # change path to ./data/gameStatistics
game_statistics_df.head()

,visitor_fastBreakPoints,visitor_pointsInPaint,visitor_biggestLead,visitor_secondChancePoints,visitor_pointsOffTurnovers,visitor_longestRun,visitor_points,visitor_fgm,visitor_fga,visitor_fgp,...,home_defReb,home_totReb,home_assists,home_pFouls,home_steals,home_turnovers,home_blocks,home_plusMinus,home_min,home_team
0,NaN,NaN,NaN,NaN,NaN,NaN,88,29,77,37.7,...,30,46,20,20,10,10,5,20,240:00,New York Knicks
1,NaN,NaN,NaN,NaN,NaN,NaN,125,47,85,55.3,...,20,26,21,24,5,5,3,1,240:00,Dallas Mavericks
2,NaN,NaN,NaN,NaN,NaN,NaN,106,38,96,39.6,...,40,42,26,16,7,14,6,17,240:00,Brooklyn Nets
3,NaN,NaN,NaN,NaN,NaN,NaN,102,39,81,48.1,...,35,50,20,18,9,21,5,1,240:00,Cleveland Cavaliers
4,NaN,NaN,NaN,NaN,NaN,NaN,104,36,83,43.4,...,37,52,21,22,6,14,6,12,240:00,Detroit Pistons

In [604]:
game_statistics_df.describe()

,visitor_fastBreakPoints,visitor_pointsInPaint,visitor_biggestLead,visitor_secondChancePoints,visitor_pointsOffTurnovers,visitor_longestRun,visitor_points,visitor_fgm,visitor_fga,visitor_fgp,...,home_tpp,home_offReb,home_defReb,home_totReb,home_assists,home_pFouls,home_steals,home_turnovers,home_blocks,home_plusMinus
count,0.0,0.0,0.0,0.0,0.0,0.0,2495.000000,2495.000000,2495.000000,2495.000000,...,2495.000000,2495.000000,2495.000000,2495.000000,2495.000000,2495.000000,2495.000000,2495.000000,2495.000000,2495.000000
mean,NaN,NaN,NaN,NaN,NaN,NaN,114.954709,42.089780,88.414429,47.688377,...,35.576313,10.553106,32.583166,43.136273,25.664128,19.361122,7.524649,13.868136,4.909419,-2.282164
std,NaN,NaN,NaN,NaN,NaN,NaN,12.482287,5.343152,7.614180,5.508311,...,8.348361,3.879434,5.392103,6.680402,5.082422,4.308178,2.990913,4.006491,2.507849,14.934196
min,NaN,NaN,NaN,NaN,NaN,NaN,73.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-62.000000
25%,NaN,NaN,NaN,NaN,NaN,NaN,106.000000,38.000000,84.000000,43.900000,...,30.000000,8.000000,29.000000,39.000000,22.000000,17.000000,5.000000,11.000000,3.000000,-12.000000
50%,NaN,NaN,NaN,NaN,NaN,NaN,115.000000,42.000000,88.000000,47.500000,...,35.400000,10.000000,32.000000,43.000000,25.000000,19.000000,7.000000,14.000000,5.000000,-3.000000
75%,NaN,NaN,NaN,NaN,NaN,NaN,123.000000,46.000000,93.000000,51.400000,...,41.000000,13.000000,36.000000,47.000000,29.000000,22.000000,9.000000,16.000000,6.000000,8.000000
max,NaN,NaN,NaN,NaN,NaN,NaN,175.000000,65.000000,121.000000,66.300000,...,63.400000,28.000000,60.000000,73.000000,47.000000,35.000000,22.000000,33.000000,17.000000,56.000000

In [605]:
game_statistics_df.dtypes

visitor_fastBreakPoints       float64
visitor_pointsInPaint         float64
visitor_biggestLead           float64
visitor_secondChancePoints    float64
visitor_pointsOffTurnovers    float64
visitor_longestRun            float64
visitor_points                  int64
visitor_fgm                     int64
visitor_fga                     int64
visitor_fgp                   float64
visitor_ftm                     int64
visitor_fta                     int64
visitor_ftp                   float64
visitor_tpm                     int64
visitor_tpa                     int64
visitor_tpp                   float64
visitor_offReb                  int64
visitor_defReb                  int64
visitor_totReb                  int64
visitor_assists                 int64
visitor_pFouls                  int64
visitor_steals                  int64
visitor_turnovers               int64
visitor_blocks                  int64
visitor_plusMinus               int64
visitor_min                    object
game_id                         int64
visitor_team                   object
home_fastBreakPoints          float64
home_pointsInPaint            float64
home_biggestLead              float64
home_secondChancePoints       float64
home_pointsOffTurnovers       float64
home_longestRun               float64
home_points                     int64
home_fgm                        int64
home_fga                        int64
home_fgp                      float64
home_ftm                        int64
home_fta                        int64
home_ftp                      float64
home_tpm                        int64
home_tpa                        int64
home_tpp                      float64
home_offReb                     int64
home_defReb                     int64
home_totReb                     int64
home_assists                    int64
home_pFouls                     int64
home_steals                     int64
home_turnovers                  int64
home_blocks                     int64
home_plusMinus                  int64
home_min                       object
home_team                      object
dtype: object

In [606]:
# Convert values in percentage columns to decimal form
game_statistics_df[['visitor_ftp', 'visitor_fgp', 'visitor_tpp', 'home_ftp', 'home_fgp','home_tpp']] = game_statistics_df[
    ['visitor_ftp', 
     'visitor_fgp', 
     'visitor_tpp', 
     'home_ftp', 
     'home_fgp',
     'home_tpp']
    ].apply(lambda x: x / 100)

In [607]:
# Drop irrelevant columns
game_statistics_df = game_statistics_df.drop(columns=['game_id','visitor_fastBreakPoints', 'visitor_pointsInPaint',
       'visitor_biggestLead', 'visitor_secondChancePoints',
       'visitor_pointsOffTurnovers', 'visitor_longestRun','visitor_plusMinus',
       'visitor_min','home_fastBreakPoints',
       'home_pointsInPaint', 'home_biggestLead', 'home_secondChancePoints',
       'home_pointsOffTurnovers', 'home_longestRun','home_plusMinus', 'home_min',])

# Display
game_statistics_df

,visitor_points,visitor_fgm,visitor_fga,visitor_fgp,visitor_ftm,visitor_fta,visitor_ftp,visitor_tpm,visitor_tpa,visitor_tpp,...,home_tpp,home_offReb,home_defReb,home_totReb,home_assists,home_pFouls,home_steals,home_turnovers,home_blocks,home_team
0,88,29,77,0.377,16,23,0.696,14,46,0.304,...,0.294,16,30,46,20,20,10,10,5,New York Knicks
1,125,47,85,0.553,23,32,0.719,8,19,0.421,...,0.412,6,20,26,21,24,5,5,3,Dallas Mavericks
2,106,38,96,0.396,19,21,0.905,11,41,0.268,...,0.382,2,40,42,26,16,7,14,6,Brooklyn Nets
3,102,39,81,0.481,17,24,0.708,7,21,0.333,...,0.342,15,35,50,20,18,9,21,5,Cleveland Cavaliers
4,104,36,83,0.434,22,26,0.846,10,34,0.294,...,0.370,15,37,52,21,22,6,14,6,Detroit Pistons
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2490,108,39,91,0.429,20,31,0.645,10,37,0.270,...,0.350,8,42,50,29,22,6,11,4,Chicago Bulls
2491,103,35,77,0.455,23,30,0.767,10,29,0.345,...,0.476,9,32,41,23,19,5,13,7,Milwaukee Bucks
2492,111,42,98,0.429,18,20,0.900,9,38,0.237,...,0.405,7,37,44,31,20,12,12,9,Houston Rockets
2493,115,43,84,0.512,16,20,0.800,13,35,0.371,...,0.375,13,26,39,30,17,12,10,5,San Antonio Spurs
2494,127,51,99,0.515,8,10,0.800,17,42,0.405,...,0.235,7,35,42,25,11,7,12,6,Los Angeles Lakers

# Filter Data Frame for Chosen Teams

In [608]:
# Define the home and visitor teams
home_team = input("Enter Home Team: ")  # Replace with desired home team
visitor_team = input("Enter Away Team: ")  # Replace with desired visitor team

# Filter data frame based on previous condition
filtered_df = game_statistics_df[(game_statistics_df['home_team'] == home_team) & (game_statistics_df['visitor_team'] == visitor_team)]

# Drop home and visitor columns
filtered_df = filtered_df.drop(columns=['home_team', 'visitor_team'])

# Update column names to match visitor and home team stats
updated_cols = []
for col in filtered_df.columns:
    if f"visitor_" in col:
        updated_cols.append(col.replace('visitor', visitor_team))
    elif f"home_" in col:
        updated_cols.append(col.replace('home', home_team))
    else:
        updated_cols.append(col)

filtered_df.columns = updated_cols

# Display
filtered_df

,Atlanta Hawks_points,Atlanta Hawks_fgm,Atlanta Hawks_fga,Atlanta Hawks_fgp,Atlanta Hawks_ftm,Atlanta Hawks_fta,Atlanta Hawks_ftp,Atlanta Hawks_tpm,Atlanta Hawks_tpa,Atlanta Hawks_tpp,...,Boston Celtics_tpa,Boston Celtics_tpp,Boston Celtics_offReb,Boston Celtics_defReb,Boston Celtics_totReb,Boston Celtics_assists,Boston Celtics_pFouls,Boston Celtics_steals,Boston Celtics_turnovers,Boston Celtics_blocks
469,125,50,100,0.500,15,16,0.938,10,34,0.294,...,42,0.476,5,35,40,35,21,6,9,6
717,130,51,91,0.560,13,16,0.813,15,34,0.441,...,48,0.438,6,23,29,31,17,11,12,0
726,121,43,98,0.439,21,24,0.875,14,37,0.378,...,40,0.400,9,40,49,25,23,4,16,5
737,120,44,94,0.468,17,22,0.773,15,35,0.429,...,42,0.429,11,36,47,24,16,7,7,10
1910,120,46,87,0.529,10,17,0.588,18,36,0.500,...,38,0.289,12,26,38,21,16,7,9,8
1934,123,51,104,0.490,6,10,0.600,15,44,0.341,...,36,0.389,9,34,43,28,15,7,12,6
2327,93,37,89,0.416,13,16,0.813,6,31,0.194,...,55,0.327,11,39,50,27,14,15,13,7

# Prepare Machine Learning Model

In [ ]:
# Create a column to check if the home team won
stats_df = filtered_df.copy()
stats_df['winner'] = stats_df.apply(
    lambda row: 1 if row[f'{home_team}_points'] > row[f'{visitor_team}_points'] else 0,
    axis=1
)
stats_df.head()

,Atlanta Hawks_points,Atlanta Hawks_fgm,Atlanta Hawks_fga,Atlanta Hawks_fgp,Atlanta Hawks_ftm,Atlanta Hawks_fta,Atlanta Hawks_ftp,Atlanta Hawks_tpm,Atlanta Hawks_tpa,Atlanta Hawks_tpp,...,Boston Celtics_tpp,Boston Celtics_offReb,Boston Celtics_defReb,Boston Celtics_totReb,Boston Celtics_assists,Boston Celtics_pFouls,Boston Celtics_steals,Boston Celtics_turnovers,Boston Celtics_blocks,home_win
469,125,50,100,0.500,15,16,0.938,10,34,0.294,...,0.476,5,35,40,35,21,6,9,6,1
717,130,51,91,0.560,13,16,0.813,15,34,0.441,...,0.438,6,23,29,31,17,11,12,0,0
726,121,43,98,0.439,21,24,0.875,14,37,0.378,...,0.400,9,40,49,25,23,4,16,5,1
737,120,44,94,0.468,17,22,0.773,15,35,0.429,...,0.429,11,36,47,24,16,7,7,10,1
1910,120,46,87,0.529,10,17,0.588,18,36,0.500,...,0.289,12,26,38,21,16,7,9,8,0

In [610]:
# Set target column
target_column = 'home_win'

# Look for correlation between columns and 'home_win' column
correlations = stats_df.corr(numeric_only=True)[target_column].sort_values(ascending=False)
correlations

home_win                    1.000000e+00
Boston Celtics_defReb       8.184977e-01
Boston Celtics_points       7.712176e-01
Atlanta Hawks_ftm           7.569267e-01
Atlanta Hawks_ftp           7.385421e-01
Boston Celtics_fgp          7.385421e-01
Boston Celtics_totReb       7.115150e-01
Atlanta Hawks_fta           6.040235e-01
Boston Celtics_fgm          5.728965e-01
Boston Celtics_ftp          4.359872e-01
Atlanta Hawks_steals        4.300366e-01
Boston Celtics_tpm          4.090480e-01
Boston Celtics_pFouls       4.037864e-01
Boston Celtics_blocks       4.011478e-01
Boston Celtics_tpa          3.354591e-01
Boston Celtics_tpp          2.954859e-01
Boston Celtics_assists      1.246777e-01
Atlanta Hawks_fga           1.075829e-01
Boston Celtics_fga          1.020621e-01
Atlanta Hawks_pFouls        8.878560e-02
Boston Celtics_turnovers    4.419417e-02
Boston Celtics_offReb       5.233642e-17
Boston Celtics_ftm          3.096264e-17
Boston Celtics_steals      -4.853568e-02
Atlanta Hawks_blocks       -5.892557e-02
Atlanta Hawks_defReb       -9.311563e-02
Atlanta Hawks_turnovers    -1.697905e-01
Atlanta Hawks_assists      -2.077630e-01
Boston Celtics_fta         -2.256203e-01
Atlanta Hawks_points       -4.291523e-01
Atlanta Hawks_tpa          -4.938202e-01
Atlanta Hawks_totReb       -5.385368e-01
Atlanta Hawks_tpp          -5.400976e-01
Atlanta Hawks_fgm          -6.038074e-01
Atlanta Hawks_offReb       -6.068971e-01
Atlanta Hawks_tpm          -6.366430e-01
Atlanta Hawks_fgp          -7.553233e-01
Name: home_win, dtype: float64

In [611]:
# Look for correlation between columns and 'total_points' column
correlations = stats_df.corr(numeric_only=True)[target_column]

# Set conditions to find feature columns
feature_columns = correlations[correlations > -1]

# Create new data frame with chosen feature columns
new_df = stats_df[feature_columns.index]
new_df

,Atlanta Hawks_points,Atlanta Hawks_fgm,Atlanta Hawks_fga,Atlanta Hawks_fgp,Atlanta Hawks_ftm,Atlanta Hawks_fta,Atlanta Hawks_ftp,Atlanta Hawks_tpm,Atlanta Hawks_tpa,Atlanta Hawks_tpp,...,Boston Celtics_tpp,Boston Celtics_offReb,Boston Celtics_defReb,Boston Celtics_totReb,Boston Celtics_assists,Boston Celtics_pFouls,Boston Celtics_steals,Boston Celtics_turnovers,Boston Celtics_blocks,home_win
469,125,50,100,0.500,15,16,0.938,10,34,0.294,...,0.476,5,35,40,35,21,6,9,6,1
717,130,51,91,0.560,13,16,0.813,15,34,0.441,...,0.438,6,23,29,31,17,11,12,0,0
726,121,43,98,0.439,21,24,0.875,14,37,0.378,...,0.400,9,40,49,25,23,4,16,5,1
737,120,44,94,0.468,17,22,0.773,15,35,0.429,...,0.429,11,36,47,24,16,7,7,10,1
1910,120,46,87,0.529,10,17,0.588,18,36,0.500,...,0.289,12,26,38,21,16,7,9,8,0
1934,123,51,104,0.490,6,10,0.600,15,44,0.341,...,0.389,9,34,43,28,15,7,12,6,0
2327,93,37,89,0.416,13,16,0.813,6,31,0.194,...,0.327,11,39,50,27,14,15,13,7,1

In [612]:
new_df.isnull().sum()

Atlanta Hawks_points        0
Atlanta Hawks_fgm           0
Atlanta Hawks_fga           0
Atlanta Hawks_fgp           0
Atlanta Hawks_ftm           0
Atlanta Hawks_fta           0
Atlanta Hawks_ftp           0
Atlanta Hawks_tpm           0
Atlanta Hawks_tpa           0
Atlanta Hawks_tpp           0
Atlanta Hawks_offReb        0
Atlanta Hawks_defReb        0
Atlanta Hawks_totReb        0
Atlanta Hawks_assists       0
Atlanta Hawks_pFouls        0
Atlanta Hawks_steals        0
Atlanta Hawks_turnovers     0
Atlanta Hawks_blocks        0
Boston Celtics_points       0
Boston Celtics_fgm          0
Boston Celtics_fga          0
Boston Celtics_fgp          0
Boston Celtics_ftm          0
Boston Celtics_fta          0
Boston Celtics_ftp          0
Boston Celtics_tpm          0
Boston Celtics_tpa          0
Boston Celtics_tpp          0
Boston Celtics_offReb       0
Boston Celtics_defReb       0
Boston Celtics_totReb       0
Boston Celtics_assists      0
Boston Celtics_pFouls       0
Boston Celtics_steals       0
Boston Celtics_turnovers    0
Boston Celtics_blocks       0
home_win                    0
dtype: int64

In [613]:
new_df.columns

Index(['Atlanta Hawks_points', 'Atlanta Hawks_fgm', 'Atlanta Hawks_fga',
       'Atlanta Hawks_fgp', 'Atlanta Hawks_ftm', 'Atlanta Hawks_fta',
       'Atlanta Hawks_ftp', 'Atlanta Hawks_tpm', 'Atlanta Hawks_tpa',
       'Atlanta Hawks_tpp', 'Atlanta Hawks_offReb', 'Atlanta Hawks_defReb',
       'Atlanta Hawks_totReb', 'Atlanta Hawks_assists', 'Atlanta Hawks_pFouls',
       'Atlanta Hawks_steals', 'Atlanta Hawks_turnovers',
       'Atlanta Hawks_blocks', 'Boston Celtics_points', 'Boston Celtics_fgm',
       'Boston Celtics_fga', 'Boston Celtics_fgp', 'Boston Celtics_ftm',
       'Boston Celtics_fta', 'Boston Celtics_ftp', 'Boston Celtics_tpm',
       'Boston Celtics_tpa', 'Boston Celtics_tpp', 'Boston Celtics_offReb',
       'Boston Celtics_defReb', 'Boston Celtics_totReb',
       'Boston Celtics_assists', 'Boston Celtics_pFouls',
       'Boston Celtics_steals', 'Boston Celtics_turnovers',
       'Boston Celtics_blocks', 'home_win'],
      dtype='object')

In [614]:
new_df = new_df.dropna()
new_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7 entries, 469 to 2327
Data columns (total 37 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Atlanta Hawks_points      7 non-null      int64
 1   Atlanta Hawks_fgm         7 non-null      int64
 2   Atlanta Hawks_fga         7 non-null      int64
 3   Atlanta Hawks_fgp         7 non-null      float64
 4   Atlanta Hawks_ftm         7 non-null      int64
 5   Atlanta Hawks_fta         7 non-null      int64
 6   Atlanta Hawks_ftp         7 non-null      float64
 7   Atlanta Hawks_tpm         7 non-null      int64
 8   Atlanta Hawks_tpa         7 non-null      int64
 9   Atlanta Hawks_tpp         7 non-null      float64
 10  Atlanta Hawks_offReb      7 non-null      int64
 11  Atlanta Hawks_defReb      7 non-null      int64
 12  Atlanta Hawks_totReb      7 non-null      int64
 13  Atlanta Hawks_assists     7 non-null      int64
 14  Atlanta Hawks_pFouls      7 non-null      int64
 15  Atlanta Hawks_steals      7 non-null      int64
 16  Atlanta Hawks_turnovers   7 non-null      int64
 17  Atlanta Hawks_blocks      7 non-null      int64
 18  Boston Celtics_points     7 non-null      int64
 19  Boston Celtics_fgm        7 non-null      int64
 20  Boston Celtics_fga        7 non-null      int64
 21  Boston Celtics_fgp        7 non-null      float64
 22  Boston Celtics_ftm        7 non-null      int64
 23  Boston Celtics_fta        7 non-null      int64
 24  Boston Celtics_ftp        7 non-null      float64
 25  Boston Celtics_tpm        7 non-null      int64
 26  Boston Celtics_tpa        7 non-null      int64
 27  Boston Celtics_tpp        7 non-null      float64
 28  Boston Celtics_offReb     7 non-null      int64
 29  Boston Celtics_defReb     7 non-null      int64
 30  Boston Celtics_totReb     7 non-null      int64
 31  Boston Celtics_assists    7 non-null      int64
 32  Boston Celtics_pFouls     7 non-null      int64
 33  Boston Celtics_steals     7 non-null      int64
 34  Boston Celtics_turnovers  7 non-null      int64
 35  Boston Celtics_blocks     7 non-null      int64
 36  home_win                  7 non-null      int64
dtypes: float64(6), int64(31)
memory usage: 2.1 KB

In [ ]:
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

scaler = MinMaxScaler()

X = scaler.fit_transform(new_df.drop(columns=['winner', f'{home_team}_points', f'{visitor_team}_points']))

X_df = pd.DataFrame(X, columns=new_df.drop(columns=['winner', f'{home_team}_points', f'{visitor_team}_points']).columns)
y = new_df['winner']

# Splitting into testing/train data
X_train, X_test, y_train, y_test = train_test_split(X_df, y, test_size=0.2, random_state=42)

# Create decision tree regression instance
model = DecisionTreeClassifier()

# Fit model
model = model.fit(X_train, y_train)

# Making predictions using scaled data
predictions = model.predict(X_test)

# Print predicted price for tested features
predictions

array([1, 1], dtype=int64)

In [616]:
# Create a new data instance with zeros for all one-hot columns
input_data = {col: 0 for col in X_df.columns}
input_data[f'home_team_{home_team}'] = 1
input_data[f'visitor_team_{visitor_team}'] = 1

# Convert to DataFrame
input_df = pd.DataFrame([input_data])
for col in X_df.columns:
    if col not in input_df.columns:
        input_df[col] = 0

input_df = input_df[X_df.columns]

# Apply the same MinMaxScaler used on X_df
input_scaled = scaler.transform(input_df)

# Predict total points
predicted_winner = model.predict(input_scaled)[0]

winning_team = home_team if  predicted_winner == 1 else visitor_team
print("Predicted Winner:", winning_team)

Predicted Winner: Boston Celtics

c:\Users\User\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

In [617]:
print("Accuracy:", accuracy_score(y_test, predictions))
print("Confusion Matrix:\n", confusion_matrix(y_test, predictions))
print("Classification Report:\n", classification_report(y_test, predictions))

Accuracy: 0.5
Confusion Matrix:
 [[0 1]
 [0 1]]
Classification Report:
               precision    recall  f1-score   support

           0       0.00      0.00      0.00         1
           1       0.50      1.00      0.67         1

    accuracy                           0.50         2
   macro avg       0.25      0.50      0.33         2
weighted avg       0.25      0.50      0.33         2

c:\Users\User\anaconda3\Lib\site-packages\sklearn\metrics\_classification.py:1469: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
c:\Users\User\anaconda3\Lib\site-packages\sklearn\metrics\_classification.py:1469: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
c:\Users\User\anaconda3\Lib\site-packages\sklearn\metrics\_classification.py:1469: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))